@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root{
    --cor001:cornflowerblue;
}


body{
    background: url(fundo004.png) scroll center center;
    background-size: contain;
}

main{
    width: 310px;
    height: 400px;
    border: 1px solid var(--cor001);
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

main.gestantes{
    background: url(gestantefundo.jpg) no-repeat center center;
    background-size: cover;
}

main.zeroaseis{
    background: url(bebe0a6fundo.png) no-repeat center center;
    background-size: cover;
}

main.seteaonze{
    background: url(bebe7a11fundo.jpg) no-repeat center center;
    background-size: cover;
}

main.umadois{
    background: url(bebe1a2fundo.jpg) no-repeat center center;
    background-size: cover;
}

main.doisatres{
    background: url(crianca2a3fundo.png) no-repeat center center;
    background-size: cover;
}

h1{
    margin: 30px;
    padding: 10px;
    text-align: center;
    color: cornflowerblue;
    text-shadow: .5px .5px 1px rgba(0, 0, 0, 0.39);
}

h2{
    color: var(--cor001);
    background-color: rgba(255, 255, 255, 0.575);
    text-align: center;
}

ul{    
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.575);    
    border-radius: 0px 0px 10px 10px;
}

ul li{
    padding: 5px;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor001);
}

a:hover{
    text-shadow: .5px .5px .6px var(--cor001);
}